@tailwind base;
@tailwind components;
@tailwind utilities;


:where(.css-dev-only-do-not-override-sk7ap8).ant-card .ant-card-body {
    bottom: 0;
    position: absolute;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button:not(.ant-btn-primary) {
    padding-bottom: 4px;
    background-color: #1677ff;
    color: #fff;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button:not(.ant-btn-primary):hover {
    color: #fff;
    opacity: 0.9;
}


:where(.css-dev-only-do-not-override-sk7ap8).ant-card .ant-card-body {
    left: 0;
    right: 0;
    text-align: left;
}
